/other/email.py
/other/email.txt
/other/zapier_output.json
/other/todo.py
src/__pycache__/__init__.cpython-311.pyc
src/__pycache__/models.cpython-311.pyc
src/__pycache__/soup.cpython-311.pyc
src/__pycache__/utils.cpython-311.pyc
books_2025_03_10.xlsx
